{{- define "main" -}}
# {{ .Chart.Name }}

{{ .Chart.Description }}

{{ template "valuesTable" . }}
{{- end -}}

{{- define "valuesTable" -}}
| Key | Type | Description | Default |
|-----|------|-------------|---------|
{{- range .Values }}
| {{ .Name }} | {{ .Type }} | {{ .Description }} | {{ .Default | toJson }} |
{{- end }}
{{- end -}}