<script>
  console.log('sidebar script');
</script>

<style>
  /* Hide unselected docs version dropdown */
  .sidebar-container > div > ul > li:not(li:has(.sidebar-active-item)) {
    display: none;
  }

  /* Hide top-level docs version dropdowns */
  .sidebar-container > div > ul > li > a {
    display: none;
  }

  /* Adjust padding and hide left border for top-level docs dropdown */
  sidebar-container > div > ul > li > div {
    padding-top: 0;
  }

  .sidebar-container > div > ul > li > div > ul {
    padding-left: 0;
    margin-left: 0;
  }

  .sidebar-container > div > ul > li > div > ul::before {
    display: none;
  }
</style>