<!-- Glossary tooltip styles -->
<link rel="stylesheet" href="{{ "css/glossary.css" | absURL }}">

<style>
  .hextra-footer {
    display: none
  }
</style>

<footer class="bg-primary-bg text-white py-[4.375rem] md:py-25 px-12 xl:px-25 bg-[url(/hero-background.svg)] bg-[center_top_-27rem]">
  <div class="flex flex-col md:flex-row justify-between gap-[3.125rem] md:gap-0 max-w-[1440px] mx-auto">
    <div class="flex flex-col gap-4 items-center md:items-start">
      {{ partial "utils/icon.html" (dict "name" "logo" ) }}
      <span class="text-center md:text-left pr-6">
        Kgateway was originally created by <a class="text-secondary-link" href="https://www.solo.io/">Solo.io</a> and was known as Gloo.
      </span>
    </div>
    <div class="flex flex-col flex-wrap md:flex-row gap-[2.5625rem] items-center md:max-h-[3.1875rem] justify-end">
      <a class="link flex items-center gap-2 whitespace-nowrap text-secondary-link text-[1.125rem] leading-[1.6875rem] md:text-base" href="https://github.com/kgateway-dev/kgateway">
        <span class="dark:hidden">{{ partial "utils/icon.html" (dict "name" "github" "attributes" "class='fill-secondary-link h-6 w-6'") }}</span>
        <span class="hidden dark:inline">{{ partial "utils/icon.html" (dict "name" "github-white" "attributes" "class='fill-secondary-link h-6 w-6'") }}</span>
        GitHub
      </a>
      <a class="link flex items-center whitespace-nowrap text-secondary-link" href="/slack">
        {{ partial "utils/icon.html" (dict "name" "slack" "attributes" "class='fill-secondary-link w-10 h-10'") }}
        Slack
      </a>
      <a class="link flex items-center whitespace-nowrap text-secondary-link" href="https://x.com/kgatewaydev">
        {{ partial "utils/icon.html" (dict "name" "twitter-x" "attributes" "class='fill-secondary-link w-10 h-6'") }}
        X
      </a>
      <a class="link flex items-center whitespace-nowrap text-secondary-link" href="https://bsky.app/profile/kgateway.dev">
        {{ partial "utils/icon.html" (dict "name" "bluesky" "attributes" "class='fill-secondary-link w-10 h-6'") }}
        Bluesky
      </a>
      <a class="link flex items-center whitespace-nowrap text-secondary-link" href="https://mastodon.social/@kgateway">
        {{ partial "utils/icon.html" (dict "name" "mastodon" "attributes" "class='fill-secondary-link w-10 h-6'") }}
        Mastodon
      </a>
      <a class="link flex items-center whitespace-nowrap text-secondary-link" href="https://www.linkedin.com/company/kgateway/">
        {{ partial "utils/icon.html" (dict "name" "linkedin" "attributes" "class='fill-secondary-link w-10 h-6'") }}
        LinkedIn
      </a>
      <a class="link flex items-center whitespace-nowrap text-secondary-link" href="https://youtube.com/@kgateway-dev">
        {{ partial "utils/icon.html" (dict "name" "youtube" "attributes" "class='fill-secondary-link w-10 h-6'") }}
        YouTube
      </a>                  
    </div>
  </div>

  <div class="flex flex-col max-w-[1440px] items-center mx-auto pt-24">
    <div class="w-80"><img src="/cncf-sandbox-horizontal-white.svg" /></div>
    <div class="pt-6"><p class="text-center">We are a Cloud Native Computing Foundation sandbox project</p></div>
    <div class="pt-6"><p class="text-center text-xs">Copyright © kgateway, a Series of LF Projects, LLC.<br/><a class="link text-secondary-link" href="https://lfprojects.org/policies/">Website terms of use, trademark policy and other project policies</a></p></div>
  </div>

  <img referrerpolicy="no-referrer-when-downgrade" src="https://static.scarf.sh/a.png?x-pxid=f8e98c47-18c1-416e-9f48-c448193f6d93" />

  <!-- Glossary tooltip JS -->
  <script src="{{ "js/glossary.js" | absURL }}" defer></script>
</footer>
