<script>
  function toggle(id) {
    var wrapper = document.querySelector(`.${id}-content .collapsible`);
    if (wrapper.style.height === '0px') {
      var offsetHeight = document.querySelector(`.${id}-content .collapsible ol`).offsetHeight;
      wrapper.style.height = offsetHeight + 'px';
      document.querySelector(`.${id}-content button svg`).style.transform = "rotate(180deg)";
    } else {
      wrapper.style.height = 0;
      document.querySelector(`.${id}-content button svg`).style.transform = "none";
    }
  }
</script>

<style>
  .collapsible {
    height: 0;
    overflow-y: clip;
    transition: height 0.5s ease;
  }

  button svg {
    transition: transform 0.5s ease;
  }
</style>

<section class="w-10/12 lg:w-1/2 mx-auto py-[4.375rem] md:py-24 flex flex-col gap-16 justify-center items-center">
  {{ range .Site.Data.learningpaths }}
    <div class="flex flex-row items-start gap-8">
      <div class="w-1/3 bg-card-bg p-4">
        <img class="object-cover" src="{{ .image }}" alt="{{ .title }}" />
      </div>
      <div class="flex flex-col gap-6 items-start w-full">
        <h2 class="text-primary-text text-3xl font-semibold">{{ .title }}</h2>
        <p class="text-primary-text">{{ .description }}</p>
        <div class="{{.id}}-content ml-5">
          <div class="collapsible" style="height: 0px">
            <ol class="list-decimal">
              {{ range .lessons }}
                <li class="text-primary-text py-2 marker:text-lg marker:leading-4 marker:font-medium">
                  <h3 class="text-lg leading-6 font-medium">{{ .title }}</h3>
                  {{ if .blog }}
                    <a href="/blog/{{ .blog }}" class="text-primary-bg">Blog</a>
                  {{ end }}
                  {{ if .youtube }}
                    {{ if .blog }}|{{ end }}
                    <a href="https://youtu.be/{{ .youtube }}" class="text-primary-bg">Video</a>
                  {{ end }}
                  {{ if .lab }}
                    {{ if or (.video) (.youtube) }}|{{ end }}
                    <a href="http://www.solo.io/resources/lab/{{ .lab }}" class="text-primary-bg">Lab</a>
                  {{ end }}
                </li>
              {{ end}}
            </ol>
          </div>
          <button class="bg-white rounded-xl py-2 text-[#6458f4] flex flex-row items-end font-semibold gap-1 ml-[-20px]" onclick="toggle('{{ .id }}')">
            View the track {{ partial "utils/icon.html" (dict "name" "chevron-down" "attributes" "class='ml-1 mb-0.5 inline w-5 h-5'") }}
          </button>
        </div>
      </div>
    </div>
  {{ end }}
</section>