{{ $data := .Site.Data.learningpaths }}
{{ $tags := slice }}
{{ range $data }}
  {{ $tag := (replace .tag " " "") }}
  {{ if not (in $tags (dict "tag" $tag "name" .tag)) }}
    {{ $tags = $tags | append (dict "tag" $tag "name" .tag) }}
  {{ end }}
{{ end }}

<section class="px-10 xl:px-20 2xl:px-50 py-[4.375rem] md:py-24 flex flex-col gap-16 justify-center items-center">
  <div class="grid auto-rows-auto grid-flow-row gap-x-8 gap-y-16 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 justify-items-center">
    {{ range $data }}
      <div class="bg-white rounded-xl py-2 px-4 text-[#6458f4] flex flex-row items-center font-semibold gap-4">
        <div class='tag-{{ replace .tag " " "" }} card bg-primary-bg min-h-[15.625rem] rounded-[.625rem] flex flex-col items-start w-[24.5rem] p-6 gap-4 justify-between h-full'>
          <div class="flex flex-col gap-4">
            <h3 class="font-heading text-2xl text-white font-bold">
              {{ .title }}
            </h3>
            <p class="text-white">{{ .description }}</p>
          </div>
          <a href="{{ .id }}" class="bg-white rounded-xl py-2 px-4 text-[#6458f4] flex flex-row items-center font-semibold gap-4">Start Lab</a>
        </div>
      </div>
    {{ end }}
  </div>
</section>