<section class="px-6 md:px-10 py-[4.375rem] md:py-24 flex flex-col gap-16 justify-center items-center">
  <div class="grid auto-rows-auto grid-flow-row gap-x-8 gap-y-16 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 justify-items-center">
    {{ range $.Page.Pages }}
      <a href="{{ .RelPermalink }}" class="card bg-primary-bg min-h-[15.625rem] rounded-[.625rem] flex flex-col items-start justify-start max-w-[24.5rem] sm:w-[24.5rem] p-6 gap-4">
        <h3 class="font-heading tracking-tight text-2xl text-white font-bold">
          {{ .LinkTitle }}
        </h3>
        <div class="font-heading text-xl text-white">
          {{ .PublishDate | time.Format ":date_medium" }}
          <p class="text-base font-sans">
            {{ .Params.Author }}
          </p> 
        </div>
      </a>
    {{ end }}
  </div>
</section>

