{{ $data := .Site.Data.videos }}

<script>
  filterSelection("All")
  function filterSelection(tag) {
    document.querySelectorAll("button[class^='tag']").forEach(
      function (v) {
        const className = v.getAttribute("class");
        if (className.startsWith("tag-" + tag)) {
          if (!className.endsWith("selected")) {
            v.setAttribute("class", className + " selected");
          }
        } else {
          v.setAttribute("class", className.replace(/ selected$/, ""));
        }
      }
    );
    document.querySelectorAll("a[class^='tag']").forEach(
      function (v) {
        const className = v.getAttribute("class");
        if (tag === "All" || className.includes("tag-" + tag)) {
          v.setAttribute("class", className.replace(/ hidden$/, ""));
        } else if (!className.endsWith("hidden")) {
          v.setAttribute("class", className + " hidden");
        }
      }
    );
  }
</script>

{{ if $data }}
  {{ $tags := slice }}
  {{ range $data }}
    {{ $tag := (replace .tag " " "") }}
    {{ if not (in $tags (dict "tag" $tag "name" .tag)) }}
      {{ $tags = $tags | append (dict "tag" $tag "name" .tag) }}
    {{ end }}
  {{ end }}

  <section class="px-10 xl:px-20 2xl:px-50 py-[4.375rem] md:py-24 flex flex-col gap-16 justify-center items-center">
    <!-- {{ if $tags }}
      <div class="flex gap-8 justify-center items-center flex-wrap sm:flex-nowrap">
          <button
            class="tag-All flex py-2.5 px-5 justify-center items-center rounded-[0.25rem] bg-[#DDDFED] text-[#9DA1BD] font-complementary text-base leading-[1.2rem] tracking-[-0.05rem] [&.selected]:text-white [&.selected]:bg-primary-bg selected"
            onClick="filterSelection('All')"
          >
            All
          </button>
        {{ range $tags }}
          <button
            class='tag-{{ replace .tag " " "" }} flex py-2.5 px-5 justify-center items-center rounded-[0.25rem] bg-[#DDDFED] text-[#9DA1BD] font-complementary text-base leading-[1.2rem]tracking-[-0.05rem] [&.selected]:text-white [&.selected]:bg-primary-bg'
            onclick="filterSelection({{ .tag }})"
          >
            {{ .name }}
          </button>
        {{ end }}
      </div>
    {{ end }} -->
    <div class="grid auto-rows-auto grid-flow-row gap-x-8 gap-y-16 grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 justify-items-center">
      {{ range $data }}
        <div class='tag-{{ replace .tag " " "" }} w-[386px] card flex flex-col items-start pb-3 gap-4 justify-between rounded-[.625rem] border-2 border-[#6052f6]'>
          {{ if .thumbnailHref }}
            <div class="bg-primary-bg h-[216px] w-[384px] rounded-[.625rem] bg-[url('{{ .thumbnailHref }}')] bg-contain bg-no-repeat"></div>
          {{ else }}
            <div class="thumbnail bg-primary-bg min-h-[15.625rem] w-[24.5rem] rounded-[.625rem]"></div>
          {{ end }}
          <div class="flex flex-col gap-4">
            <p class="text-primary-text px-2">{{ .description }}</p>
          </div>
          <a href="{{ .href }}" class="bg-[#6458f4] rounded-xl mx-2 p-2 text-white flex flex-row items-center font-medium gap-4">Watch Video</a>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
